<!-- account right board -->
<div class="p-4 sm:w-3/4 sm:float-right h-96">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <div class="grid grid-cols-1 w-full h-24 mb-4">
            <div class="flex items-center justify-center rounded bg-gray-50 dark:bg-gray-800">
                {% include 'schoolms/add_group.html' %}
            </div>
        </div>

        <!-- group board -->
        <div class="grid gap-3 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 p-5 rounded bg-gray-50 dark:bg-gray-800 h-full">
            {% if professor_groups %}
                {% for group in professor_groups %}
                    {% include 'schoolms/group.html' %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>