<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body class="h-screen">

    <div class="bg-[url(https://img.freepik.com/free-photo/try-this-cheerful-pleasant-looking-young-afro-american-woman-points-away-copy-blank-space_273609-45528.jpg)] bg-no-repeat bg-contain bg-center h-full relative">
        <h1 class="prose-2xl absolute inset-0 right-0">Wellcome to school management system. The site loved by every professor</h1>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
</body>
</html>