<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        {% if group %}
            {% if students %}
                {% include 'schoolms/student_table.html' %}
            {% else %}
                {% include 'schoolms/empty_student.html' %}
            {% endif %}
            <form action="{% url 'schoolms:log_in' %}" method="post" class="flex justify-center">
                {% csrf_token %}
                {% if professor %}
                    <input type="text" name="user_login" value="{{professor.user_name}}" hidden>
                    <input type="text" name="password_login" value="{{professor.password}}" hidden>
                {% endif %}
                <button type="submit" class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-2 mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                    </svg>                  
                    Go Back
                </button>
            </form>
        {% endif %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    </body>
</html>