<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Document</title>
</head>
<body>
    {% include "todo/header.html" %}

    {% if categories_and_labels.categories %}
        <div class="flex md:container md:mx-auto grid grid-cols-3 gap-2 m-2 mt-10 mb-10">
            {% for category in categories_and_labels.categories %}
                {% if category.task_set.all.count > 0 %}
                    <a href="{% url 'todo:detail' category.id %}" class="border-2 text-center p-3 rounded-lg text-teal-300 shadow hover:shadow-lg transition ease-in-out delay-0 hover:-translate-y-1 hover:scale-105 duration-700 bg-teal-900">
                        {{category.category_name}}
                    </a>
                {% else %}
                    <a href="{% url 'todo:detail' category.id %}" class="border-2 text-center p-3 rounded-lg text-teal-700 shadow hover:shadow-lg transition ease-in-out delay-0 hover:-translate-y-1 hover:scale-105 duration-700">
                        {{category.category_name}}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="my-6 flex justify-center grid grid-flow-row auto-rows-max">
            <strong>No Category found.</strong>
            <span>Please add one to start.</span>
        </div>
    {% endif %}

    <form action="{% url 'todo:create_category' %}" method="post">
        {% csrf_token %}
        <div class="flex justify-center">
            <div class="sm:col-span-3 mr-1">
                <label for="category" class="text-sm font-medium leading-6 text-gray-900">Select Category</label>
                <div class="mt-2">
                    <select id="category" name="category" autocomplete="category-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                        {% for label in categories_and_labels.categories_label %}
                            <option>{{label}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mt-8 items-center justify-center gap-x-6">
              <button type="submit" class="rounded-md bg-teal-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add</button>
            </div>
        </div>
    </form>
</body>
</html>